body{

font-family:Arial,sans-serif; 
}



a:link {
    text-decoration: none;
    color: #4085f1;

}

a:visited {
    text-decoration: none;
	color: #4085f1;
}

a:hover {
    text-decoration: underline;
	color: #fc8d62;
}



div.banner{
	margin:0 auto;
	max-width: 960px;

}



div.container{

	position: relative;

	height: auto;

	left: 0;

	right: 0;

	margin:25px auto;
	
	max-width: 960px;

}


div.circle{
    width: 19px;
    height: 19px;
    border-radius: 9.5px;
    margin:auto;
    background-color:#fdb425 ;
    text-align:center;
    font-size:12px;
    display: inline-block;
    line-height:17px;
    cursor:pointer;
}

div.burst-12 {
    background-color: #eb4336;
    width: 21px;
    height: 21px;	
    margin:auto;
    text-align:center;
    font-size:12px;
    display: inline-block;
    line-height:17px;
	position: relative;
	
}

div.burst-12:before, div.burst-12:after {
   content: "new";
   position: absolute;
   top: 0;
   left: 0;
   height: 21px;
   width: 21px;
   background-color: #eb4336;
   color:white;
   font-weight: bold;
}
div.burst-12:before {
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	transform: rotate(30deg);
}
div.burst-12:after {
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	transform: rotate(60deg);
}

h2.google{
    display: inline-block;
	margin:auto;
	cursor:pointer;
}

div.page404{

    text-align: left;

    margin:200px auto;

    margin-left: auto;

    margin-right: auto;

    max-width: 720px;

}

.intro{
    color:gray;
	margin-left:auto; 
    margin-right:auto;
	text-align:left;
}

.me{
	margin-left:auto; 
    margin-right:auto;
}
